<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body class="container bg-light">
<div class="text-center mt-1">
  <img src="https://i.ibb.co/8cDgdFX/Logo.png" alt="network-logo" width="72" height="72"/>
  <h2> Add Customer Detail Form</h2>
  <p>
    You can add the new customer details below.
  </p>
</div>
<div class="card">
  <div class="card-body">
    <form [formGroup]="customerDetailsForm" class="needs-validation" autocomplete="off" (ngSubmit)="formSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">FirstName <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName" name="firstName"
                 placeholder="Enter your first name" [class.is-invalid]="customerDetailsForm.get('firstName')?.invalid && customerDetailsForm.get('firstName')?.touched">
          <span
            *ngIf="customerDetailsForm.get('firstName')?.invalid && (customerDetailsForm.get('firstName')?.dirty || customerDetailsForm.get('firstName')?.touched)"
            class="text-danger">
            First Name is required
          </span>
        </div>

        <div class="form-group col-md-6">
          <label>LastName <span class="text-danger"> *</span></label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName" name="lastName"
                 placeholder=" last name" [class.is-invalid]="customerDetailsForm.get('lastName')?.invalid && customerDetailsForm.get('lastName')?.touched"/>
          <span
            *ngIf="customerDetailsForm.get('lastName')?.invalid && (customerDetailsForm.get('lastName')?.dirty || customerDetailsForm.get('lastName')?.touched)"
            class="text-danger">
            Last Name is required
          </span>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label style="display: block">Gender<span class="text-danger"> *</span></label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="inlineRadioMale"
                   value="MALE">
            <label class="form-check-label" for="inlineRadioMale"> Male </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="inlineRadioFemale"
                   value="FEMALE">
            <label class="form-check-label" for="inlineRadioFemale">Female</label>
          </div>

          <div *ngIf="customerDetailsForm?.get('gender')?.invalid && (customerDetailsForm?.get('gender')?.dirty || customerDetailsForm?.get('gender')?.touched)" class="text-danger">
            Gender is required
          </div>

        </div>

        <div class="form-group col-md-6">
          <label style="display: block">Marital Status <span class="text-danger"> *</span></label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="maritalStatus" type="radio" name="maritalStatus"
                   id="inlineRadioSingle" value="false" (change)="onMaritalStatusChange($event)">
            <label class="form-check-label" for="inlineRadioSingle"> Single </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="maritalStatus" name="maritalStatus"
                   id="inlineRadioMarried" value="true" (change)="onMaritalStatusChange($event)">
            <label class="form-check-label" for="inlineRadioMarried">Married</label>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Citizen Number</label>
          <input type="text" class="form-control" formControlName="citizenNumber" id="citizenNumber"
                 name="citizenNumber" placeholder=" Citizen Number"
                 required/>
        </div>

        <div class="form-group col-md-6">
          <label>Address</label>
          <input type="text" class="form-control" formControlName="address" id="address" name="address"
                 placeholder="Address" required/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Mobile Number</label>
          <input type="text" name="mobileNumber" formControlName="mobileNumber" class="form-control mt-2"
                 placeholder="You Mobile Number">
        </div>

        <div class="form-group col-md-6">
          <label for="status">Status</label>
          <select id="status" name="status" formControlName="status" class="form-control mt-2">
            <option *ngFor="let option of statusOptions" [value]="option">{{option}}</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Date of Birth</label>
          <input type="date" class="form-control" formControlName="dateOfBirth" id="dateOfBirth" name="date"/>
        </div>
        <div class="form-group col-md-6">
          <label>Email Address</label>
          <input type="text" name="emailAddress" formControlName="emailAddress" class="form-control"
                 placeholder=" Email">
        </div>
      </div>


      <div class="form-row" formGroupName="userLogin">
        <div class="form-group col-md-6">
          <label>Username</label>
          <input type="text" class="form-control" id="userName" formControlName="userName" name="userName"
                 placeholder="Username" required/>
        </div>

        <div class="form-group col-md-6">
          <label>Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" name="password"
                 placeholder="Password" required/>
        </div>
      </div>
      <label>Customer's Family</label>
        <div formArrayName="customerFamilyList">
          <div  *ngFor="let member of customerFamilyList['controls']; let i = index" [formGroupName]="i" name="i">
            <select name="relationship" formControlName="relationship" class="form-select col-md-6 mt-2">
              <option *ngFor="let option of familyOptions" [value]="option">{{ option }}</option>
            </select>
            <input class="form-control col-md-5" placeholder="Enter the Name" type="text"
                   formControlName="relationshipPersonName" style="margin-left: 51%; margin-top: -3.6%"/>
            <button *ngIf="customerDetailsForm?.get('maritalStatus')?.value == 'true' && i > 3 || customerDetailsForm?.get('maritalStatus')?.value == 'false' && i > 2"
                    class="btn btn-danger" style="margin-left: 90%; position: absolute; margin-top: -3.7%;  padding: 6px" type="button"
                    (click)="removeFamilyMember(i)">Remove
            </button>
          </div>
        </div>
      <button class="btn btn-primary mb-4 mt-2" type="button" (click)="addFamilyMember()">Add</button>
      <button class="btn btn-primary btn-block col-lg-2" type="submit" [disabled]="!customerDetailsForm.valid">Submit
      </button>
    </form>
  </div>
</div>
<footer>
  <div class="my-4 text-muted text-center">
    <p>© Fone Invest </p>
  </div>
</footer>

</body>
