<mat-card>
  <h2>Your Profile Details</h2>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img src="./assets/profile_image.jpg" class="profile-image">
          <h1> {{customerDetail.firstName}} {{customerDetail.lastName}}</h1>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <!-- table details-->
            <table>
              <tr>
                <td> UserName</td>
                <td> {{customerDetail.userName}}</td>
              </tr>
              <tr>
                <td> Address</td>
                <td> {{customerDetail.address}}</td>
              </tr>
              <tr>
                <td> Citizenship No. </td>
                <td> {{customerDetail.citizenNumber}}</td>
              </tr>
              <tr>
                <td> Phone</td>
                <td> {{customerDetail.mobileNumber}}</td>
              </tr>
              <tr>
                <td> Status</td>
                <td> {{customerDetail.status}}</td>
              </tr>
            </table>
            <mat-card-actions class="text-center">
              <button mat-raised-button color="primary">Update</button>
              <button mat-raised-button color="accent" style="margin-left: 4px">Share</button>
            </mat-card-actions>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
