<body>
<div class="container">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div *ngIf="!isLoading" class="row">
    <div class="col-md-5 mx-auto">
      <div id="first">
        <div class="myform form ">
          <div class="logo mb-3">
            <div class="col-md-12 text-center">
              <h1>Login</h1>
            </div>
          </div>
          <form [formGroup]="loginForm" name="loginForm" (ngSubmit)="formSubmit()">
            <div class="form-group">
              <label>UserName</label>
              <input type="email" name="email" formControlName="userName" class="form-control mt-1" id="email"
                     aria-describedby="emailHelp"
                     placeholder="Email or Mobile Number" required
                     [class.is-invalid]="loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched"/>
              <span *ngIf="loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched"
                    class="invalid-feedback">
                {{ loginForm.get('userName')?.errors?.['required'] ? userNameErrors.required : userNameErrors.invalid }}
              </span>

            </div>
            <div class="form-group mt-2">
              <label>Password</label>
              <input type="password" name="password" formControlName="password" id="password" class="form-control mt-1"
                     aria-describedby="emailHelp"
                     placeholder="Enter Password"
                     [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"/>
              <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    class="invalid-feedback">
                {{ loginForm.get('password')?.errors?.['required'] ? passwordErrors.required : passwordErrors.invalid }}
              </span>
            </div>

            <div class="form-check form-check-inline mt-3">
              <input class="form-check-input" formControlName="loginType" type="radio" name="loginType"
                     id="inlineRadio1" value="ADMIN">
              <label class="form-check-label" for="inlineRadio1"> Admin </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="loginType" name="loginType"
                     id="inlineRadio2" value="PUBLIC">
              <label class="form-check-label" for="inlineRadio2">Customer</label>
            </div>

            <div class="col-md-12 text-center mt-2 ">
              <button type="submit" [disabled]="!loginForm.valid" class=" btn btn-block mybtn btn-primary tx-tfm">
                Login
              </button>
            </div>
            <div class="col-md-12 ">
              <div class="login-or">
                <hr class="hr-or">
                <span class="span-or">or</span>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <p class="text-center">
                <a [routerLink]="['/signup']" class="google btn mybtn"><i class="fab fa-google-plus-g">
                </i> Signup using Google
                </a>
              </p>
            </div>
            <div class="form-group">
              <p class="text-center">Don't have account? <a [routerLink]="['/signup']" id="signup">Sign up here</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

