<mat-card>
  <mat-action-list>
    <h2 class="curly-underline">Menu</h2>
    <hr>
    <button mat-list-item routerLink="/admin-dashboard">
      <mat-icon> home</mat-icon>
     <span>Home</span>
    </button>
    <hr>
    <span class="divider"></span>
    <button mat-list-item routerLink="/admin-dashboard/profile">
      <mat-icon> account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <hr>
    <button mat-list-item routerLink="/admin-dashboard/customer-details">
      <mat-icon> photo_library</mat-icon>
      <span>Customer Details </span>
    </button>
    <hr>
    <button mat-list-item routerLink="/admin-dashboard/add-customer">
      <mat-icon> add_circle</mat-icon>
      <span>Add Customers</span>
    </button>
    <hr>
    <button mat-list-item (click)="logOut()">
      <mat-icon> logout </mat-icon>
      <span>Log Out</span>
    </button>
  </mat-action-list>
</mat-card>
