<mat-card>
  <body>
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-7"><h2>Customer <b>Details</b></h2></div>
          </div>
          <div class="main-section">
            <div class="search-section  col-md-12">
              <form>
                <input type="text" class="form-control" placeholder="Search&hellip;" [(ngModel)]="_searchTerm"
                       name="_searchTerm" (keyup)="search()">
                <mat-select [(ngModel)]="_selectedStatusOption" class="form-control select-type"
                             name="_selectedStatusOption" ngDefaultControl
                            [disableOptionCentering]="false" placeholder="Select Status">
                  <mat-option>Select Status</mat-option>
                  <mat-option *ngFor="let option of statusOptions" [value]="option">{{option}}</mat-option>
                </mat-select>
              </form>
              <div class="main-button-holder">
                <button class="btn search-btn" (click)="searchByStatus()">Search</button>
                <button class="btn reset-btn">Reset</button>
              </div>
            </div>
          </div>

        </div>
        <table class="table table-striped table-hover table-bordered">
          <thead>
          <tr>
            <th>Customer Id</th>
            <th>UserName <i class="fa fa-sort"></i></th>
            <th>Address</th>
            <th>EmailAddress <i class="fa fa-sort"></i></th>
            <th>Mobile Number</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customerList; trackBy: trackByFn">
            <td>{{ customer.id }}</td>
            <td>{{ customer.userName }}</td>
            <td>{{ customer?.address ? customer.address : 'N/A' }}</td>
            <td>{{ customer?.emailAddress ? customer.emailAddress : 'N/A' }}</td>
            <td>{{ customer?.mobileNumber ? customer.mobileNumber : 'N/A' }}</td>
            <td>{{ customer?.status }}</td>
            <td>
              <a class="add" title="Add" data-toggle="tooltip"><i
                class="material-icons">&#xe147;</i></a>
              <a (click)="viewCustomerById(customer.id)" class="view" title="View" data-toggle="tooltip"><i
                class="material-icons">&#xE417;</i></a>
              <a class="edit" (click)="openEditCustomerModal(customer.id)" title="Edit" data-toggle="tooltip"><i
                class="material-icons">&#xE254;</i></a>
              <a (click)="showDeleteModal(customer.id)" class="delete" title="Delete"
                 data-toggle="tooltip"><i
                class="material-icons">&#xE872;</i></a>
            </td>
          </tr>
          </tbody>
        </table>
        <ng-template #deleteModal>
          <div class="modal-header">
            <h2 class="modal-title" style="font-weight: bold">Please confirm..</h2>
            <button style="border: none" type="button" class="close" aria-label="Close" (click)="decline()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Do you really want to delete the customer ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteCustomer()"> OK</button>
            <button type="button" class="btn btn-primary" (click)="decline()">Cancel</button>
          </div>
        </ng-template>

        <div class="clearfix">
          <div class="hint-text">Showing <b>{{_pageSize * _pageNumber + 1}}</b> to
            <b>{{_pageSize * (_pageNumber + 1)}}</b> of <b>{{_totalElements}}</b> entries
          </div>
          <ul class="pagination">
            <li class="page-item {{_pageNumber == 0 ? 'disabled' : ''}}">
              <a class="page-link" (click)="goToPage(_pageNumber - 1)">
                <i class="fa fa-angle-double-left"></i>
              </a>
            </li>
            <ng-container *ngFor="let page of _pages">
              <li class="page-item {{page == _pageNumber ? 'active' : ''}}">
                <a class="page-link" (click)="goToPage(page)">{{page + 1}}</a>
              </li>
            </ng-container>
            <li class="page-item {{_pageNumber == _totalPages - 1 ? 'disabled' : ''}}">
              <a class="page-link" (click)="goToPage(_pageNumber + 1)">
                <i class="fa fa-angle-double-right"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  </body>
</mat-card>

